# --- AZURE STORAGE ---
AZURE_STORAGE_CONNECTION_STRING=""

# --- AZURE OPENAI 
AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_VERSION=""
AZURE_OPENAI_CHAT_DEPLOYMENT=""

# Add this for clarity (optional, but good practice)
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=""

# --- AZURE AI SEARCH (The Knowledge Base) ---
AZURE_SEARCH_ENDPOINT=""
AZURE_SEARCH_API_KEY=""
AZURE_SEARCH_INDEX_NAME=""

# --- AZURE VIDEO INDEXER (Identity Auth) ---
# Found in Azure Portal -> Video Indexer Resource -> Overview
AZURE_VI_NAME=""
AZURE_VI_LOCATION=""
AZURE_VI_ACCOUNT_ID=""
AZURE_SUBSCRIPTION_ID=""
AZURE_RESOURCE_GROUP=""

# --- OBSERVABILITY (Azure Monitor) ---
APPLICATIONINSIGHTS_CONNECTION_STRING=""

# --- LANGSMITH (Tracing)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=""
LANGCHAIN_PROJECT="brand-guardian-prod"

 